<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Include@ - Início</title>
	<link rel="icon" href="images/logo-icon.png">
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css'>
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Pacifico'>
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
	<link rel='stylesheet' href='fullcalendar/fullcalendar.min.css' />
	<link rel='stylesheet' href='fullcalendar/fullcalendar.print.min.css' />
	<link rel='stylesheet' href='fullcalendar/fullcalendar.print.css' />
	<link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
	<link rel="stylesheet" href="css/dashboard-style.css">
</head>
<body>
	<div class="navbar-fixed">
	  <nav>
		<div class="nav-wrapper cyan">
		  <ul>
			<li><a href="dashboard_interprete.html" class="brand-logo"><img src="images/logo-large.png"></a></li>
		  </ul>
		  <ul class="right">
			<li><a class="dropdown-button" href="#!" data-activates="menu-dropdown"><i class="material-icons">more_vert</i></a></li>
				<ul id="menu-dropdown" class="dropdown-content">
				  <li><a href="#!" class="grey-text text-darken-2"><i class="material-icons left">account_circle</i> <span class="left"> Perfil</span></a></li>
				  <li><a href="#!" class="grey-text text-darken-2"><i class="material-icons left">settings</i> <span class="left"> Ajustes</span></a></li>
				  <li><a href="#!" class="grey-text text-darken-2"><i class="material-icons left">help</i> <span class="left"> Ajuda</span></a></li>
				  <li><a href="#!" class="grey-text text-darken-2"><i class="material-icons left">exit_to_app</i> <span class="left"> Sair</span></a></li>
				</ul>
		  </ul>
		</div>
	  </nav>
	</div>
	<ul class="side-nav fixed">
	  <li class="user-details cyan darken-2 avatar">
			  <img src="https://lh3.googleusercontent.com/-W2XryVdi-lA/U6tSAh3SsbI/AAAAAAAAFGY/ZHJiUEcR_Zs/w480-h480/avatar%2Bmaterial%2Bdesign.png">
			  <div class="avatar-text">
				<span class="user-name">Carlos Coletto</span>
				<span class="user-title">Intérprete</span>
			  </div>  
      </li>
	  <li class="active"><a href="dashboard_interprete.html"><i class="material-icons">dashboard</i>Principal</a></li>
	  <hr class="divider">
	  <li><a href="traducao_prova.html"><i class="material-icons">library_books</i>Provas</a></li>
	  <li><a href="traducao_questao.html"><i class="material-icons">question_answer</i>Questões</a></li>
	  <hr class="divider">
	  <li><a href="#"><i class="material-icons">notifications_active</i>Avisos</a></li>
	</ul>

	<div class="main">
	  <div class="container-fluid">
		<div class="row">
		  <div class="col s12 m4">
			<div class="card deep-orange lighten-1 white-text">  
			  <div class="card-content valign-wrapper">
				<div class="card-text">
				  <h6>Traduzir Prova</h6>
				  <p>Traduza toda uma prova.</p>
				</div>
				<div class="card-icon">
				  <i class="material-icons medium valign">add_to_queue</i>
				</div>
			  </div>
			  <div class="card-action">
				<a href="traducao_prova.html">Traduzir agora</a>
			  </div>
			</div>
		  </div>
		  <div class="col s12 m4">
			<div class="card light-green white-text">  
			  <div class="card-content valign-wrapper">
				<div class="card-text">
				  <h6>Traduzir Questão</h6>
				  <p>Traduza toda uma questão.</p>
				</div>
				<div class="card-icon">
				  <i class="material-icons medium valign">add_to_photos</i>
				</div>
			  </div>
			  <div class="card-action">
				<a href="traduzir questao.html">Traduzir agora</a>
			  </div>
			</div>
		  </div>
		  <div class="col s12 m4">
			<div class="card orange lighten-1 white-text">  
			  <div class="card-content valign-wrapper">
				<div class="card-text">
				  <h6>Traduzir Alternativa</h6>
				  <p>Traduza apenas uma alternativa.</p>
				</div>
				<div class="card-icon">
				  <i class="material-icons medium valign">event_available</i>
				</div>
			  </div>
			  <div class="card-action">
				<a href="traduzir_alternativa.html">Traduzir</a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src='fullcalendar/lib/moment.min.js'></script>
	<script src='fullcalendar/fullcalendar.js'></script>
	<script src='fullcalendar/locale/pt-br.js'></script>
</body>
</html>