<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Include@ - Turmas</title>
	<link rel="icon" href="images/logo-icon.png">
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css'>
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Pacifico'>
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
	<link rel='stylesheet prefetch' href='css/dashboard-style.css'>
</head>
<body>
	<div class="navbar-fixed">
	  <nav>
		<div class="nav-wrapper cyan">
		  <ul>
			<li><a href="dashboard_colaborador.html" class="brand-logo"><img src="images/logo-large.png"></a></li>
		  </ul>
		  <ul class="right">
			<li><a class="dropdown-button" href="#!" data-activates="menu-dropdown"><i class="material-icons">more_vert</i></a></li>
				<ul id="menu-dropdown" class="dropdown-content">
				  <li><a href="#!" class="grey-text text-darken-2"><i class="material-icons left">account_circle</i> <span class="left"> Perfil</span></a></li>
				  <li><a href="#!" class="grey-text text-darken-2"><i class="material-icons left">settings</i> <span class="left"> Ajustes</span></a></li>
				  <li><a href="#!" class="grey-text text-darken-2"><i class="material-icons left">help</i> <span class="left"> Ajuda</span></a></li>
				  <li><a href="#!" class="grey-text text-darken-2"><i class="material-icons left">exit_to_app</i> <span class="left"> Sair</span></a></li>
				</ul>
		  </ul>
		</div>
	  </nav>
	</div>
	<ul class="side-nav fixed">
	  <li class="user-details cyan darken-2 avatar avatar-user">
			  <img src="https://lh3.googleusercontent.com/-W2XryVdi-lA/U6tSAh3SsbI/AAAAAAAAFGY/ZHJiUEcR_Zs/w480-h480/avatar%2Bmaterial%2Bdesign.png">
			  <div class="avatar-text">
				<span class="user-name">Carlos Coletto</span>
				<span class="user-title">Colaborador</span>
			  </div>  
			</li>
			<li><a href="dashboard_colaborador.html"><i class="material-icons text-darken-1">dashboard</i>Principal</a></li>
			<hr class="divider">
			<li class="active"><a href="gerenciador_turma.html"><i class="material-icons">people</i>Turmas</a></li>
			<li><a href="gerenciador_prova.html"><i class="material-icons">library_books</i>Provas</a></li>
			<li><a href="gerenciador_questao.html"><i class="material-icons">question_answer</i>Questões</a></li>
	  <hr class="divider">
	  <li><a href="#"><i class="material-icons">today</i>Calendário</a></li>
	  <li><a href="#"><i class="material-icons">notifications_active</i>Avisos</a></li>
	</ul>

	<div class="main">
	  <div class="container-fluid">
	  <div class="row">
			<div class="col s12 m12">
					<div class="card filter-card transparent z-depth-0">
						<span class="page-title light-green-text">Desempenho do ADS171 - Prova ADS 1ºSem</span>
						<hr>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12">
			 <ul class="collection">
    <li class="collection-item avatar">
      <img src="https://1r65zzvfjgtwegsn-zippykid.netdna-ssl.com/wp-content/uploads/2014/02/David-Sparks-300x271.jpeg" alt="" class="circle">
      <span class="title">Luis Guilherme Marques Lino</span>
      <p>Acertos: <b>7/10</b><br>
         Erros: <b>3/10</b>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons light-green-text">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
				<img src="https://avatars.githubusercontent.com/u/898384?v=3" alt="" class="circle">
				<span class="title">Luiz Carlos Burgos Faleiro Filho</span>
				<p>Acertos: <b>7/10</b><br>
					 Erros: <b>3/10</b>
				</p>
				<a href="#!" class="secondary-content"><i class="material-icons light-green-text">chevron_right</i></a>
			</li>
    <li class="collection-item avatar">
      <img src="https://uturnpodcast.com/wp/wp-content/uploads/2016/05/P2100158.jpg" alt="" class="circle">
      <span class="title">Paulo Passos Santiago</span>
      <p>Acertos: <b>7/10</b><br>
         Erros: <b>3/10</b>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons light-green-text">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="https://media.nngroup.com/media/people/photos/IMG_2009_copy-retouched-square-closer-800px.jpg.400x400_q95_autocrop_crop_upscale.jpg" alt="" class="circle">
      <span class="title">Stephanie Benites Lubatchewsky</span>
      <p>Acertos: <b>7/10</b><br>
         Erros: <b>3/10</b>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons light-green-text">chevron_right</i></a>
    </li>
  </ul>
		  </div>
		</div>
	  </div>
	</div>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src='js/configuracoes-datepicker.js'></script>
	<script>
		$(document).ready(function() {
			$(".activate-toolbar").click(function(){
				$('.fixed-action-btn.toolbar').openToolbar();	
			});

			$(document).ready(function() {
				$('select').material_select();
			});
		});
	</script>
</body>
</html>